<p>admin-view works!</p>
<h1>Restaurent List</h1>
<div class="grid-container">
  <div  class="restarent" *ngFor="let restaurent of restaurents">
    <div class="main">
      <div class="card">
        <div class="image">
          <!-- {{ restaurent.restaurantName }} -->
    <img
      src="../../assets/Jaival.jpeg"
      style="width: 100%"
    />
  </div>
   
    <div class="title">
      {{ restaurent.restaurantName }}
      {{ restaurent.restaurantId }}
    <h1>{{ restaurent.rating }}</h1>  
      <p>from {{ restaurent.location }}</p>

    <div *ngFor=" let menu of restaurent?.menuList">
      <h1>{{ menu.foodItemName }}</h1>
    <h1>{{ menu.cuisine }}</h1>
    <h1>{{ menu.price }}</h1>
    </div>
  </div>
  <div class="des">
    
    <button mat-raised-button color="accent">
      <a routerLink="/edit-restaurant/{{ restaurent.restaurantId }}">edit Vehicle</a>
    </button>
    <button mat-raised-button color="accent">
      <a routerLink="/add-menu/{{ restaurent.restaurantId }}">add Menu</a>
    </button>
  </div>
</div>
</div>
</div>
</div>
