<p>admin-view works!</p>
<h1>Restaurent List</h1>
<div class="grid-container">
  <div  class="restarent" *ngFor="let restaurent of restaurents">
    <div class="main">
      <div class="card">
        <div class="image">
    <img
      src="../../assets/{{ restaurent.restaurantName }}.jpeg"
      style="width: 100%"
    />
  </div>
   
    <div class="title">
      {{ restaurent.restaurantName }}
      {{ restaurent.restaurantId }}
    <h1>{{ restaurent.rating }}</h1>
    <h1>{{ restaurent.menuList }}</h1>
    
  
  </div>
  <div class="des">
    <p>from {{ restaurent.location }}</p>
    <button mat-raised-button color="accent">
      <a routerLink="/admin/edit/{{ restaurent.restaurantId }}">add menu</a>
    </button>
  </div>
</div>
</div>
</div>
</div>
