/* Footer Styles */

.footer-area {
    background-color: #f4f4f4;
    padding: 40px 0;
    font-family: Arial, sans-serif;
}

.footer-area h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.footer-area p {
    font-size: 16px;
    color: #666;
    margin: 0;
    margin-bottom: 10px;
}

.footer-area p.lead {
    font-size: 18px;
    color: #666;
    margin-bottom: 15px;
}

.footer-area p.lead a {
    color: #333;
    text-decoration: none;
}

.footer-area p.lead a:hover {
    color: #FFB03B;
}

.footer-area p a {
    font-size: 18px;
    color: #333;
    text-decoration: none;
}

.footer-area p a:hover {
    color: #FFB03B;
}

.subscribe_form {
    text-align: center;
    margin-top: 20px;
}

.subscribe_form .form_input {
    background-color: #fff;
    color: #333;
    border: 1px solid #ccc;
    font-size: 16px;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    transition: border-color 0.3s ease-in-out;
}

.subscribe_form .form_input::placeholder {
    color: #999;
}

.subscribe_form .form_input:focus {
    border-color: #FFB03B;
    outline: none;
}

.btn  {
    background-color: #FFB03B;
    color: #333;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.subscribe_form .submit:hover {
    background-color: #333;
    color: #fff;
}

.f-social {
    margin-top: 20px;
    list-style: none;
    padding: 0;
}

.f-social li {
    display: inline-block;
    margin-right: 15px;
}

.f-social li:last-child {
    margin-right: 0;
}

.f-social li a {
    font-size: 24px;
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.f-social li a:hover {
    color: #FFB03B;
}

.copyright {
    margin-top: 40px;
    text-align: center;
}

.company-name {
    font-size: 16px;
    color: #666;
}

.company-name a {
    font-size: 16px;
    color: #333;
    text-decoration: none;
}

.company-name a:hover {
    color: #FFB03B;
}
