<mat-stepper linear #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Upload profile image</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Profile Upload</mat-label>
        <input matInput placeholder="Upload image" formControlName="profileImage">
      </mat-form-field>
      
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>User Personal Details</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>First Name</mat-label>
        <input matInput placeholder="First name" formControlName="firstName" required>
        <mat-error *ngIf="firstName?.errors?.['required']">
          First Name is required.
        </mat-error>
        <mat-error *ngIf="firstName?.errors?.['minlength']">
          Please enter atleast 3 characters.
        </mat-error>
        <mat-error *ngIf="firstName?.errors?.['maxlength']">
          Can't extend more than 10 characters.
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Last Name</mat-label>
        <input matInput placeholder="Last name" formControlName="lastName" required>
        <mat-error *ngIf="lastName?.errors?.['required']">
          Last Name is required.
        </mat-error>
        <mat-error *ngIf="lastName?.errors?.['minlength']">
          Please enter atleast 3 characters.
        </mat-error>
        <mat-error *ngIf="lastName?.errors?.['maxlength']">
          Can't extend more than 10 characters.
        </mat-error>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="thirdFormGroup">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Fill out your address</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Street</mat-label>
        <input matInput formControlName="street" placeholder="Ex. 1 Main St, New York, NY"
               required>
               <mat-error *ngIf="street?.errors?.['required']">
                Street is required.
              </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>City</mat-label>
        <input matInput formControlName="city" placeholder="Ex. Raipur"
               required>
               <mat-error *ngIf="city?.errors?.['required']">
                City is required.
              </mat-error>
      </mat-form-field><br>
      <mat-form-field appearance="fill">
        <mat-label>State</mat-label>
        <input matInput formControlName="state" placeholder="Ex. Chhattisgarh"
               required>
               <mat-error *ngIf="state?.errors?.['required']">
                State is required.
              </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Phone</mat-label>
        <input matInput placeholder="Ex. 9xxxxxxxx" formControlName="phone" required>
        <mat-error *ngIf="phone?.errors?.['required']">
          Phone number is required.
        </mat-error>
        <mat-error *ngIf="phone?.errors?.['pattern']">
          This is not a valid phone number (Start with 6/7/8/9).
        </mat-error>
        <mat-error *ngIf="phone?.errors?.['minlength']">
          Minimum 8 digit is required.
        </mat-error>
        <mat-error *ngIf="phone?.errors?.['maxlength']">
          Reached maximum limit.
        </mat-error>
      </mat-form-field><br>
      <mat-form-field appearance="fill">
        <mat-label>Zip</mat-label>
        <input matInput formControlName="zip" placeholder="Ex. 492001"
               required>
        <mat-error *ngIf="zip?.errors?.['required']">
        Phone number is required.
        </mat-error>
        <mat-error *ngIf="zip?.errors?.['pattern']">
          This is not a valid zip number.
        </mat-error>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="fourthFormGroup">
    <form [formGroup]="fourthFormGroup">
      <ng-template matStepLabel>Fill Login Credentials</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" formControlName="email" required>
        <mat-error *ngIf="email?.errors?.['required']">
          Email number is required.
          </mat-error>
          <mat-error *ngIf="email?.errors?.['pattern']">
            This is not a valid email format.
          </mat-error>
      </mat-form-field><br>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password" placeholder="Password" formControlName="password" required>
        <mat-error *ngIf="password?.errors?.['required']">
          Password is required.
          </mat-error>
          <mat-error *ngIf="password?.errors?.['pattern']">
            Password should have min 8 letter password, with at least a symbol, upper and lower case letters
            and a number.
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Confirm Password</mat-label>
        <input matInput type="password" placeholder="Confirm Password" formControlName="confirmPassword" required>
        <mat-error *ngIf="confirmPassword?.errors?.['required']">
          Confirm Password is required.
          </mat-error>
          <mat-error *ngIf="fourthFormGroup.errors?.['mustMatch']===false">
            Password and Confirm Password should match.
        </mat-error>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
      <button mat-button (click)="onSubmit()">Submit</button>
    </div>
  </mat-step>
</mat-stepper>