<mat-toolbar>
  <mat-toolbar-row>
    <span><a routerLink="/home">Delivery Cube</a></span>
    <!-- <h2><a mat-button >Home</a></h2> -->
    <h2>
      <a mat-button routerLink="/admin" *ngIf="isAdmin">AdminDashBoard</a>
    </h2>
    <!-- <h2><a mat-button routerLink="/user" *ngIf="isUser">UserDashBord</a></h2> --> 

    <span class="example-spacer"></span>
    <a mat-button color="accent" routerLink="view-favorite" *ngIf="isLoggedIn()"
      ><mat-icon>favorite</mat-icon></a
    >
    <a mat-button color="accent" routerLink="add-cart" *ngIf="isLoggedIn()"
      ><mat-icon>add_shopping_cart</mat-icon>
      <div class="badge bg-danger">{{ cartItemsCounter }}</div>
    </a>
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon color="accent" *ngIf="!isLoggedIn()">manage_accounts</mat-icon>
      <mat-icon color="accent" *ngIf="isLoggedIn()">
        <div class="logo-image" *ngIf="dbImage">
          <img [src]="dbImage" class="img-fluid" /></div
      ></mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item *ngIf="!isLoggedIn()">
        <a mat-button color="accent" (click)="openDialog()"
          >New User?? Sign Up</a
        >
      </button>
      <button mat-menu-item *ngIf="isLoggedIn()" routerLink="/UserProfile">
        <a mat-button color="accent">Your Profile</a>
      </button>
      <button mat-menu-item *ngIf="isUser" routerLink="/owner">
        <a mat-button color="accent">Your Orders</a>
      </button>

      <button mat-menu-item *ngIf="!isLoggedIn()">
        <a mat-button color="accent" (click)="openLoginDialog()"
          >Log In<mat-icon color="accent">login</mat-icon></a
        >
      </button>

      <button mat-menu-item *ngIf="isLoggedIn()" (click)="logOut()">
        <a mat-button color="accent"
          >Log Out<mat-icon color="accent">logout</mat-icon></a
        >
      </button>
    </mat-menu>

    <!--<button
        mat-menu-item
        *ngIf="isLoggedIn()"
        routerLink="/UserProfile">
        <a mat-button color="accent">Edit Your Profile</a>
      </button>
    </mat-menu>

        <span class="example-spacer"></span>
        <a mat-button color="accent"routerLink="view-favorite" *ngIf="isLoggedIn()"><mat-icon>favorite</mat-icon></a>
        <a mat-button color="accent"routerLink="add-cart" *ngIf="isLoggedIn()"><mat-icon>add_shopping_cart</mat-icon></a>

        <a mat-button color="accent" (click)="openDialog()"><mat-icon>manage_accounts</mat-icon></a> -->
    <!-- <a mat-button color="accent" (click)="openLoginDialog()">Login</a> -->
  </mat-toolbar-row>
</mat-toolbar>
<!--     
  </mat-sidenav-content>
</mat-sidenav-container> -->


