<!-- <mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-button (click)="openDialog()">Registration</a>
      <a mat-list-item (click)="openLoginDialog()">Login</a>
      <a mat-list-item (click)="openAdminDialog()">Admin</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>delivery_cube</span>
    </mat-toolbar> -->
    <!-- Add Content Here -->
    <mat-toolbar color="primary">    
      <mat-toolbar-row>
        <span>Delivery Cube</span>
        <h2><a mat-button routerLink="/home">Home</a></h2>
        <h2><a mat-button routerLink="/owner">AdminDashBoard</a></h2>
        <h2><a mat-button routerLink="/user">UserDashBord</a></h2>

        <span class="example-spacer"></span>
         <a mat-button color="accent" (click)="openDialog()"><mat-icon>manage_accounts</mat-icon></a>
        <!-- <a mat-button color="accent" (click)="openLoginDialog()">Login</a> --> 

        <a  mat-button *ngIf="!isLoggedIn()" (click)="openLoginDialog()"  color="accent"><mat-icon>login</mat-icon>
        </a>
        <button  *ngIf="isLoggedIn()"  mat-button color="warn" (click)="logOut()"><mat-icon>logout</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>

    
<!--     
  </mat-sidenav-content>
</mat-sidenav-container> -->


