body { font-family: arial; }

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
a{
  text-decoration: none;
  color: #FFB03B;
  margin-left: 10px;
}



.example-icon {
  padding: 0 14px;
}
.example-spacer {
  flex: 2 2 auto;
}

.logo-image{
  width: 46px;
  height: 46px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: -6px;
}

.mat-toolbar-row, .mat-toolbar-single-row{
  position: fixed;
  background-color: rgb(224, 222, 222);
}

.logo-name{
  font-size: 25px;
}