<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Delivery Cube</span>
    <h2><a mat-button routerLink="/home">Home</a></h2>
    <h2>
      <a mat-button routerLink="/admin" *ngIf="isAdmin">AdminDashBoard</a>
    </h2>
    <h2><a mat-button routerLink="/user" *ngIf="isUser">UserDashBord</a></h2>

    <span class="example-spacer"></span>
    <a mat-button color="accent" routerLink="view-favorite" *ngIf="isLoggedIn()"
      ><mat-icon>favorite</mat-icon></a
    >
    <a mat-button color="accent" routerLink="add-cart" *ngIf="isLoggedIn()"
      ><mat-icon>add_shopping_cart</mat-icon>
      <div class="badge bg-danger">{{ orderCounts }}</div>
    </a>
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon color="accent">manage_accounts</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <a mat-button color="accent" (click)="openDialog()"
          >New User?? Sign Up</a
        >
      </button>
      <button
        mat-menu-item
        *ngIf="isLoggedIn()"
        routerLink="/edit-profile/{{ email }}"
      >
        <a mat-button color="accent">Edit Your Profile</a>
      </button>
    </mat-menu>

        <span class="example-spacer"></span>
        <a mat-button color="accent"routerLink="view-favorite" *ngIf="isLoggedIn()"><mat-icon>favorite</mat-icon></a>
        <a mat-button color="accent"routerLink="add-cart" *ngIf="isLoggedIn()"><mat-icon>add_shopping_cart</mat-icon></a>

        <a mat-button color="accent" (click)="openDialog()"><mat-icon>manage_accounts</mat-icon></a>
        <!-- <a mat-button color="accent" (click)="openLoginDialog()">Login</a> --> 

        <a  mat-button *ngIf="!isLoggedIn()" (click)="openLoginDialog()"  color="accent"><mat-icon>login</mat-icon>
        </a>
        <button  *ngIf="isLoggedIn()"  mat-button color="warn" (click)="logOut()"><mat-icon>logout</mat-icon>
        </button>
        <div *ngIf="isLoggedIn()">
        <div class="logo-image" *ngIf=dbImage >
          <img [src]="dbImage" class="img-fluid">
        </div></div>
      </mat-toolbar-row>
    </mat-toolbar>

    
<!--     
  </mat-sidenav-content>
</mat-sidenav-container> -->
