<h1>Restaurent List</h1>
<div class="grid-container">
  <div class="restaurent" *ngFor="let restaurent of restaurents">
      <div class="main">
        <div class="card">
          <div class="image">
            <!-- {{ restaurent.restaurantName }} -->
            <img src="../../assets/Jaival.jpeg" style="width: 100%" />
          </div>

          <div class="title">
            <a routerLink="/view-menu/{{ restaurent.restaurantId }}">

            <p>{{ restaurent.restaurantName }} </p>
            <!-- {{ restaurent.restaurantId }} -->
            <p>{{ restaurent.rating }}</p>
            <p>from {{ restaurent.location }}</p>
            </a>
          </div>
          <div class="des">
            <button mat-raised-button>
              <a routerLink="/edit-restaurant/{{ restaurent.restaurantId }}"
                >Edit Restaurent</a
              >
            </button>
            <button mat-raised-button>
              <a routerLink="/add-menu/{{ restaurent.restaurantId }}"
                >add Menu</a
              >
            </button>
            <button
              mat-raised-button
              color="accent"
              (click)="addFavorite(restaurent.restaurantId)"
            >
              <mat-icon>favorite</mat-icon>
            </button>
          </div>
        </div>
      </div>
  </div>
</div>

<router-outlet></router-outlet>
