

h1{
    text-align: center;
  }
  a{
    text-decoration: none;
    color: black;
  }
  
  .grid-container {
    /* display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px; */
    /* background-image: url("../../assets/back.jpg"); */
    
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
  }
  
  
  
  
  
    *{
      margin: 0px;
      padding: 0px;
     }
     body{
      font-family: arial;
     }
     .main{
     
      margin: 4%;
     }
     
     .card{
      width: 100%;
      display: inline-block;
      
      border-radius: 20px; 
      /* margin: 2%; */
      border-color: white;
     }

     .card:hover{
      background-color: white;
      border-color: antiquewhite;
      box-shadow: 1px 1px 10px rgb(122, 117, 117);
     }
     
     .image img{
       width: 100%;
       border-top-right-radius: 5px;
       border-top-left-radius: 5px;
       padding: 5px;
       border-radius: 20px;
      }
     
     .title{      
       /* text-align: center; */
       /* padding: 10px; */
       font-size: 20px;
       text-decoration: black;
       padding-left: 5px;
       font-weight: 500;
      }
     
     h1{
       font-size: 20px;
      }
     
     .des{
       padding: 3px;
       /* text-align: center; */      
       padding-top: 10px;
             border-bottom-right-radius: 5px;
       border-bottom-left-radius: 5px;
     }
     .btn{
      /* margin-top: 40px; */
      margin-bottom: 10px;
      /* background-color: white; */
      /* border: 1px solid #000000; */
      border-radius: 5px;
      padding:10px;
      margin-right: 15px;
    }
     button:hover{
       /* background-color: black;
       color: white; */
       transition: .5s;
       cursor: pointer;
     }
    

     .restaurent{
      padding: 5px;
     }
     .heading{
      padding-top: 25px;
     }
     
     .team-list img {
      width: 50%;
    }
    
    .team-list .content {
      width: 50%;
    }
    
    .team-list .content .follow {
      position: absolute;
      bottom: 24px;
    }
    
    .title{
      padding-top: 35px;
      font-size: 30px;
    }
    .team-list:hover {
      -webkit-transform: scale(1.05);
              transform: scale(1.05);
    }
    
    .team, .team-list {
      -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
      transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
    }
    
    .team .content .title, .team-list .content .title {
      font-size: 28px;
    }
    
    .team .overlay {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease;
    }
    
    .team .member-position, .team .team-social {
      position: absolute;
      bottom: -35px;
      right: 0;
      left: 0;
      margin: auto 10%;
      z-index: 99;
    }
    
    .team:hover {
      -webkit-transform: translateY(-7px);
              transform: translateY(-7px);
      -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
              box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    }
    
    .team:hover .overlay {
      opacity: 0.6;
    }
    
    .team:hover .team-social {
      opacity: 1;
    }

    .sub-para{
      /* font-size: 25px; */
      font-weight: 400;
    }

    /* mat-icon{
      color: #ff4081;
    } */

    .mat-flat-button.mat-accent, .mat-raised-button.mat-accent, .mat-fab.mat-accent, .mat-mini-fab.mat-accent{
      background-color: white;
    }

    .restaurantName{
      font-weight: 500;
      font-family: arial;
      font-size: 34px;
    }