<h1>Restaurent List</h1>
<div class="grid-container">
  <div class="restarent" *ngFor="let restaurent of restaurents">
    <a routerLink="/view-menu/{{ restaurent.restaurantId }}">
      <div class="main">
        <div class="card">
          <div class="image">
            <!-- {{ restaurent.restaurantName }} -->
            <img src="../../assets/Jaival.jpeg" style="width: 100%" />
          </div>

          <div class="title">
            {{ restaurent.restaurantName }}
            {{ restaurent.restaurantId }}
            <h1>{{ restaurent.rating }}</h1>
            <p>from {{ restaurent.location }}</p>
          </div>
          <div class="des">
            <button mat-raised-button color="accent">
              <a routerLink="/edit-restaurant/{{ restaurent.restaurantId }}"
                >edit Vehicle</a
              >
            </button>
            <button mat-raised-button color="accent">
              <a routerLink="/add-menu/{{ restaurent.restaurantId }}"
                >add Menu</a
              >
            </button>
            <button
              mat-raised-button
              color="accent"
              (click)="addFavorite(restaurent.restaurantId)"
            >
              <mat-icon>favorite</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
<router-outlet></router-outlet>
