
<br /><br /><br /><ng-container *ngIf="products.length != 0">
  <div class="container">
    <div class="card-table">
      <div class="cart-product">
        <table class="table table-responsive">
          <thead>
            <tr>
              <th>Sr.No</th>
              <th>Menu</th>
              <th>cuisine</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Total</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of products; let i = index">
              <td>{{ i + 1 }}</td>

              <th style="width: 12%">{{ item.foodItemName }}</th>
              <th style="width: 12%">{{ item.cuisine }}</th>
              <th style="width: 12%">{{ item.price }}</th>
              <td style="width: 12%">
                <mat-icon
                  color="accent"
                  (click)="decreamentQuantity(item.foodItemName)"
                  >remove_circle</mat-icon
                >
                {{ item.quantity }}
                <mat-icon
                  color="accent"
                  (click)="incrementQuantity(item.foodItemName)"
                  >add_circle</mat-icon
                >
              </td>
              
              <td style="width: 12%">
                {{ item.price * item.quantity }}
              </td>
              <td>
                <mat-icon (click)="removeItem(item.foodItemName)" color="warn">remove_shopping_cart
                </mat-icon>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="container bg-light rounded-bottom py-4" id="zero-pad">
    <div class="row d-flex justify-content-center">
      <div class="col-lg-10 col-12">
        <div class="d-flex justify-content-between align-items-center">
          <div>
            <button
              routerLink="/admin-view"
              class="btn btn-sm bg-light border border-dark"
            >
              shop More
            </button>
          </div>
          <div class="px-md-0 px-1" id="footer-font">
            <b class="pl-md-4"
              >SUBTOTAL : <span class="pl-md-4"
                ><span>{{
                   getGrandTotal() | currency : "INR" : true
                }}</span></span
              ></b
            >
          </div>
          <div>
            <button routerLink="/checkOut"
              (click)="orderCart()"
              class="btn btn-sm bg-dark text-white px-lg-5 px-3"
            >
              Check Out
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="products.length == 0">
  <div class="container">
    <div class="card">
      <h5 class="card-title">My Cart</h5>
    </div>
    <div class="center">
      <img src="../assets/empty-cart-2.png" alt="" />
      <h4>Your cart is empty!</h4>
      <h6>Add item to it now</h6>
      <button routerLink="/admin-view" class="btn btn-primary">Shop Now</button>
    </div>
  </div>
</ng-container>

