<h1>{{email2}}</h1>
<br /><br /><br /><ng-container *ngIf="products.length != 0">
  <div class="container">
    <div class="card-table">
      <div class="cart-product">
        <table class="table table-responsive">
          <thead>
            <tr>
              <th>Sr.No</th>
              <th>Menu</th>
              <th>cuisine</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Total</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of products; let i = index">
              <td>{{ i + 1 }}</td>

              <th style="width: 12%">{{ item.foodItemName }}</th>
              <th style="width: 12%">{{ item.cuisine }}</th>
              <th style="width: 12%">{{ item.price }}</th>
              <td style="width: 12%">
                <mat-icon
                  color="accent"
                  (click)="decreamentQuantity(item.foodItemName)"
                  >remove_circle</mat-icon
                >

                {{ item.quantity }}
                <mat-icon
                  color="accent"
                  (click)="incrementQuantity(item.foodItemName)"
                  >add_circle</mat-icon
                >
              </td>
              <td style="width: 12%">
                {{ item.price * item.quantity }}
              </td>
              <td>
                <button
                  (click)="removeItem(item.foodItemName)"
                  class="btn btn-danger"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </tr>
            <tr>
              <td colspan="4"></td>
              <td>
                <strong>GrandTotal:</strong>
              </td>
              <td>
                <strong
                  ><span>{{
                    grandGrandTotal() | currency : "INR" : true
                  }}</span>
                </strong>
              </td>
            </tr>
            <td colspan="3"></td>
            <td><button routerLink="/admin-view">Shop More</button></td>
            <td><button (click)="orderCart()">Checkout</button></td>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</ng-container>


<ng-container *ngIf="products.length == 0">
  <div class="container">
    <div class="card">
      <h5 class="card-title">My Cart</h5>
    </div>
    <div class="center">
      <img src="../assets/empty-cart-2.png" alt="" />
      <h4>Your cart is empty!</h4>
      <h6>Add item to it now</h6>
      <button routerLink="/admin-view" class="btn btn-primary">Shop Now</button>
    </div>
  </div>
</ng-container>
