<div class="container-fluid admin-banner">
    <div class="row">
        <div class="col-lg-6 col-md-6 text-center view-res">
            <a mat-button routerLink="/admin-view" >
            <button mat-raised-button>
            View Restaurent</button></a>
        </div>
    <div class="col-lg-6 col-md-6 text-center add-res">
        <h2><a mat-button routerLink="/add-restaurant" >
            <button mat-raised-button>Add Restaurent </button>
            </a></h2>
    </div>

</div>
</div>
<app-footer></app-footer>