<!-- <h1>Restaurent List</h1>
<h2>
  {{ restaurents.restaurantName }}
  {{ restaurents.restaurantId }}
  {{ restaurents.rating }}
  from {{ restaurents.location }}
</h2>
<br><br>
<img src="../../assets/Jaival.jpeg" style="width: 100%" />

<h1 style="text-align: center;">MENU</h1>
<mat-card-content>
  <div *ngFor="let menu of restaurents?.menuList">

    <div class="box">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title-group>
            <img
              mat-card-lg-image
              src="https://material.angular.io/assets/img/examples/shiba2.jpg"
            />
          </mat-card-title-group>
          <mat-card-title>{{ menu.foodItemName }}</mat-card-title>
          
          <mat-card-subtitle>{{ menu.cuisine }}</mat-card-subtitle>
          <mat-card-subtitle>{{ menu.price }}</mat-card-subtitle>
        </mat-card-header>
        <button mat-button (click)="deletemenu(menu.foodItemName)">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-button (click)="addToCart(menu)">
          add To Cart
        </button>
      </mat-card>
     {{ menu.foodItemName }} 
    <div class="card mb-3" style="max-width: 100%">
      <div class="row g-0">
        <div class="col-md-4">
          <img
            src="../../assets/{{ menu.foodItemName }}.jpeg"
            alt="{{ menu.foodItemName }}"
            class="img-fluid rounded-start"
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h1 class="card-title">{{ menu.foodItemName }}</h1>
            <p class="card-text">
              This is a wider card with supporting text below as a natural lead-in
              to additional content. This content is a little bit longer.
            </p>
              <h3 class="text-muted">{{ menu.cuisine }}</h3>
              <h3 class="text-muted">{{ menu.price }}</h3>
         
            <button mat-button (click)="deletemenu(menu.foodItemName)">
              <mat-icon>delete</mat-icon>
            </button>
            <button mat-button (click)="addToCart(menu)">add To Cart</button>
             <button type="button" matb [disabled]="clicked" (click)="addToCart(menu); clicked = true;" class="btn btn-primary">addToCart</button> 
          </div>
        </div>
      </div>
    </div>
   
  </div>
</mat-card-content>
 -->

<section id="about" class="section-padding">
  <div class="container">
    <div class="row">
      <!-- <div class="col-md-12 text-center marb-35">
        <h1 class="header-h">Delicious Journey</h1>
        <p class="header-p">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
          <br>nibh euismod tincidunt ut laoreet dolore magna aliquam. </p>
      </div> -->
      <div class="col-md-5 col-sm-6">
        <img src="../../assets/Jaival.jpeg" alt="" class="img-responsive" />
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="about-info">
          <h2 class="heading">{{ restaurents.restaurantName }}</h2>
          <p>{{ restaurents.description }}</p>
          <div class="details-list">
            <h3>{{ restaurents.location }}</h3>
            <h4>{{ restaurents.rating }}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br /><br />
  <div class="container">
    <div class="row">
      <div>
        <h1>Available Menu</h1>
        <form [formGroup]="stateForm">
          <mat-form-field appearance="fill">
            <mat-label>Cuisine</mat-label>
            <input type="text"
                   matInput
                   formControlName="stateGroup"
                   required
                   [(ngModel)]="searchTerm1" (keyup)="search1($event)"
                   [matAutocomplete]="autoGroup">
              <mat-autocomplete #autoGroup="matAutocomplete">
                <mat-optgroup *ngFor="let group of stateGroupOptions | async" [label]="group.letter">
                  <mat-option *ngFor="let name of group.names" [value]="name">
                    {{name}}
                  </mat-option>
              </mat-optgroup>
            </mat-autocomplete>
          </mat-form-field>
        </form>
        <input type="text" class="form-control"   [(ngModel)]="searchTerm" (keyup)="search($event)" placeholder="search foodItemName">
        
      </div>
      <div class="col-md-6 col-sm-6" *ngFor="let menu of restaurents?.menuList | filter:searchKey:'foodItemName' | filter:searchKey2:'cuisine'">
        <div class="d-flex h-100">
          <div class="flex-shrink-0">
            <img
              class="img-fluid"
              src="../../assets/menu/{{ menu.foodItemName }}.jpg"
              alt=""
              style="width: 250px; height: 150px"
            />
          </div>
          <div
            class="d-flex flex-column justify-content-center text-start border-inner px-4"
          >
            <h2 class="text-uppercase">{{ menu.foodItemName }}</h2>
            <h3>{{ menu.cuisine }}</h3>
            <h4 class="p-2 m-0">{{ menu.price }}</h4>
            <button *ngIf="isAdmin" mat-button (click)="deletemenu(menu.foodItemName)">
              <mat-icon>delete</mat-icon>
            </button>
            <button mat-button *ngIf="isUser" (click)="addToCart(menu)">add To Cart</button>
            <!-- <button type="button" matb [disabled]="clicked" (click)="addToCart(menu); clicked = true;" class="btn btn-primary">addToCart</button>  -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
