<h1>Restaurent List</h1>
<h2>
  {{ restaurents.restaurantName }}
  {{ restaurents.restaurantId }}
  {{ restaurents.rating }}
  from {{ restaurents.location }}
</h2>
<img src="../../assets/Jaival.jpeg" style="width: 100%" />

<mat-card-content>
  <div *ngFor="let menu of restaurents?.menuList">
    <!-- {{ menu.foodItemName }} -->

    <div class="box">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title-group>
            <img
              mat-card-lg-image
              src="https://material.angular.io/assets/img/examples/shiba2.jpg"
            />
          </mat-card-title-group>
          <mat-card-title>{{ menu.foodItemName }}</mat-card-title>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga omnis
            alias consectetur qui, voluptatem molestiae velit dicta, hic ex
            atque quod dolorum perspiciatis perferendis nam veniam assumenda
            earum sequi eaque.
          </p>
          <mat-card-subtitle>{{ menu.cuisine }}</mat-card-subtitle>
          <mat-card-subtitle>{{ menu.price }}</mat-card-subtitle>
        </mat-card-header>
        <button mat-button (click)="deletemenu(menu.foodItemName)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card>
    </div>
  </div>
</mat-card-content>
