<div class="logo">Edit the Vehicle by providing your details</div>
<div><br><br>
  <form #EditForm="ngForm" (ngSubmit)="onSubmit()">
    <fieldset class="backcolor">
      <mat-form-field appearance="fill">
        <input
          matInput
          placeholder="restaurantId "
          type="number"
          id="restaurantId"
          name="restaurantId"
          [(ngModel)]="restaurantObject.restaurantId"
        />
        <mat-error *ngIf="restaurantId?.errors?.['required']">
          Id is required.
        </mat-error>
      </mat-form-field><br><br>
      <mat-form-field appearance="fill">
        <input
          matInput
          placeholder="restaurantName"
          type="text"
          id="restaurantName"
          name="restaurantName"
          [(ngModel)]="restaurantObject.restaurantName"
        />
        <mat-error *ngIf="restaurantName?.errors?.['required']">
          name is required.
        </mat-error>
      </mat-form-field><br><br>
      <mat-form-field appearance="fill">
        <input
          matInput
          placeholder="location"
          type="text"
          id="location"
          name="location"
          [(ngModel)]="restaurantObject.location"
        />
        <mat-error *ngIf="location?.errors?.['required']">
          location is required.
        </mat-error>
      </mat-form-field>
      <br><br>
      <mat-form-field appearance="fill">
        <input
          matInput
          placeholder="rating"
          type="number"
          id="rating"
          name="rating"
          [(ngModel)]="restaurantObject.rating"
        />
        <mat-error *ngIf="rating?.errors?.['required']">
          rating is required.
        </mat-error>
      </mat-form-field>
      <br><br>

      <button color="primary" mat-button mat-raised-button type="submit" >
        Update
      </button>
      <button color="accent" mat-button mat-raised-button type="reset">
        Reset
      </button>
    </fieldset>
  </form>
</div>
