<mat-accordion *ngFor="let x of Data">
    <mat-expansion-panel hideToggle >
      
      <p>This is the primary content of the panel.</p>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        
        <mat-panel-title >
           
            <h1 style="font: bold;">
                Delivered ,
            </h1>
            <mat-panel-description>
                <h1> {{date}}</h1>
            </mat-panel-description>
            
         
        </mat-panel-title>

        <mat-panel-title >
          
          <h1 >
             Order Total : ₹ {{x.order.totalPrice}}
          </h1>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Delivery Address</mat-card-title>
          <mat-card-subtitle>{{x.user.street}} , {{x.user.state}} , {{x.user.zip}}</mat-card-subtitle>
          <mat-card-title>Order Details</mat-card-title>
          <mat-card-subtitle>Order Number : {{x.orderId}} </mat-card-subtitle>
          <mat-card-subtitle>Customer Name : {{x.user.firstName}} </mat-card-subtitle>
          <mat-card-subtitle>Customer Phone Number : {{x.user.phone}} </mat-card-subtitle>
          <mat-card-subtitle>Customer Email  : {{x.order.email}} </mat-card-subtitle>
   

          <!-- <mat-card-header > 
                <mat-card-title>Order Items</mat-card-title>

                <div *ngFor="let i of x.order?.menuList">
              <mat-card-subtitle> {{i.foodItemName}} &nbsp; </mat-card-subtitle><br>
              <mat-card-subtitle>₹{{i.price}} &nbsp; </mat-card-subtitle><br>
              <mat-card-subtitle>Qty:{{i.quantity}} &nbsp; </mat-card-subtitle>
    
              </div>
        </mat-card-header> -->

        <mat-card-header > 
            <mat-card-title>Order Items</mat-card-title>
          <mat-card-subtitle>
            <div *ngFor="let i of x.order?.menuList">
               <h3>  {{i.foodItemName}} &nbsp;</h3> 
            </div>
            </mat-card-subtitle><br> 
        </mat-card-header>

        <mat-card-header > 
            <mat-card-title>Price</mat-card-title>
          <mat-card-subtitle>
            <div *ngFor="let i of x.order?.menuList">
               <h3> ₹ {{i.price}} &nbsp;</h3> 
            </div>
            </mat-card-subtitle><br> 
        </mat-card-header>

        <mat-card-header > 
            <mat-card-title>quantity</mat-card-title>
          <mat-card-subtitle>
            <div *ngFor="let i of x.order?.menuList">
               <h3> Qty : {{i.quantity}} &nbsp;</h3> 
            </div>
            </mat-card-subtitle><br> 
        </mat-card-header>
          
        </mat-card-header>
        <mat-card-content>
          <p>Thankyou for ordering.</p>
        
        </mat-card-content>
      
      </mat-card>
    </mat-expansion-panel>
  </mat-accordion>