<section class="vh-100" style="background-color: #f4f5f7;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-lg-10 mb-4 mb-lg-0">
          <div class="card mb-3" style="border-radius: .5rem;">
            <div class="row g-0">
              <div class="col-md-3 gradient-custom text-center text-white"
                style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;" *ngIf=dbImage>
                <img [src]="dbImage" class="img-fluid" alt="Avatar" class="img-fluid my-5" style="width: 80px;" >
                <!-- <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                  alt="Avatar" class="img-fluid my-5" style="width: 80px;" /> -->
                <h5>{{userData.firstName}} {{userData.lastName}}</h5>
                <!-- <p>{{userData.lastName}}</p> -->
                <i class="far fa-edit mb-5"></i>
              </div>
              <div class="col-md-9">
                <div class="card-body p-4">
                  <h6>Information</h6>
                  <hr class="mt-0 mb-4">
                  <div class="row pt-1">
                    <div class="col-6 mb-3">
                      <h6>Email</h6>
                      <p class="text-muted">{{userData.email}}</p>
                    </div>
                    <div class="col-6 mb-3">
                      <h6>Phone</h6>
                      <p class="text-muted">{{userData.phone}}</p>
                    </div>
                  </div>
                  <h6>Other Details</h6>
                  <hr class="mt-0 mb-4">
                  <div class="row pt-1">
                    <div class="col-4 mb-3">
                      <h6>Address</h6>
                      <p class="text-muted">{{userData.street}}</p>
                    </div>
                    <div class="col-4 mb-3">
                      <h6>City</h6>
                      <p class="text-muted">{{userData.city}}</p>
                    </div>
                    <div class="col-4 mb-3">
                      <h6>State</h6>
                      <p class="text-muted">{{userData.state}}</p>
                    </div>
                    <div class="col-4 mb-3">
                      <h6>Zip Code</h6>
                      <p class="text-muted">{{userData.zip}}</p>
                    </div>
                  </div>
                  <button mat-menu-item routerLink="/edit-profile/{{ email }}">Edit Profile<mat-icon>edit</mat-icon></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>




